body {
    font-family: Roboto;
}

.header, .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    color: white;
}

ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

body {
    margin: 0;
}

.body {
    display: flex;
    background-color: #1f2937;
    padding-top: 50px;
    padding-left: 40px;
    padding-bottom: 50px;
    gap: 50px;
}

.title {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin-bottom: 10px;
}

.text {
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 10px;
}

.placeholder {
    flex-grow: 1;
    text-align: center;
    color: white;
}

.leftMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin-left: 100px;
}

.rightMain {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    margin-right: 100px;
}

.button {
    align-self: flex-start;
    background-color: #388af6;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    font-weight: bold;
}

.row {
    display: flex;
    /* justify-content: center; */
    gap: 52px;
    justify-content: space-around;
}

.image {
    width: auto;
    height: 50px;
    border: 2px solid blue;
    border-radius: 8px;
}

.info .text {
    color: gray;
}

.infoTitle {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
    margin-bottom: 32px;
}

.infoBody {
    margin: 32px 90px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 100px;
    background-color: #e5e7eb;
}

.quoteText {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.name {
    align-self: flex-end;
    font-weight: bold;
    font-size: 20px;
}

.container {
    display: flex;
    margin: 50px 100px;
    background-color: blue;
    padding: 20px;
    border-radius: 8px;
    justify-content: space-around;
}


.containertitle {
    font-size: 20px;
    color: white;
    font-weight: 800;
}

.description {
    font-size: 20px;
    color: white;
}

.containerbutton {
    background-color: #388af6;
    width: 80px;
    height: 30px;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
    align-self: flex-center;
}

.footer {
    padding: 20px 60px;
}
